@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Fira+Sans:wght@400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: DM Sans;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.417rem;
    line-height: 4.8rem;
}

h2 {
    font-size: 2.4rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 1.6rem;
}

img {
    display: block;
}

a {
    color: black;
    text-decoration: none;
}

.square_button {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    height: 4rem;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    width: 15.8rem;
}

.square_button h4 {
    text-transform: uppercase;
}

.arrow_button {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
}

.arrow_button h4 {
    position: relative;
    text-transform: uppercase;
}

.arrow_button.dark h4 {
    color: white;
}

.arrow_button h4::before {
    background-color: black;
    bottom: 0;
    content: "";
    height: 0.1rem;
    left: 0;
    position: absolute;
    transition: right 0.2s ease-in-out;
    right: 100%;
}

.arrow_button.dark h4::before {
    background-color: white;
}

.arrow_button div {
    background-color: black;
    height: 0.1rem;
    margin-left: 2rem;
    width: 4.2rem;
}

.arrow_button.dark div {
    background-color: white;
}

.arrow_button div::before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 0.1rem;
    margin-left: 1.5rem;
    transform: translateY(0.45rem) rotate(-45deg) translateX(2.35rem);
    width: 1.2rem;
}

.arrow_button.dark div::before {
    background-color: white;
}

.arrow_button div::after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 0.1rem;
    margin-left: 1.5rem;
    transform: translateY(-6.24rem) rotate(45deg) translateX(2.35rem);
    width: 1.2rem;
}

.arrow_button.dark div::after {
    background-color: white;
}

@media screen and (min-width: 1440px) {
    .square_button:hover {
        background-color: #dfdfdf;
        color: black;
    }

    .arrow_button:hover h4::before {
        right: 0;
    }
}
